body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 5px;
}	

.content {
	padding: 5px;	
}
.rightsidebar {
	background-attachment: fixed;
	float: right;
	background-color: #CCCCCC;
	margin: 10px;
	padding: 5px;
	text-align: center;
	border: 1px solid black;
}
.leftsidebar {
	background-attachment: fixed;
	float: left;
	background-color: #CCCCCC;
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
}
.bottomcontent{
	bottom: 2px;
	width: 95%;
	border: 1px solid black;
	text-align: center;
	margin: 10px;
	background-color: #CCCCCC;
}	
.bannerblock {
	padding: 2px;
	margin: 20px;
	text-align: left;
	width: 95%;
}
